# Ignore vagrant dotfile
.vagrant

# Ignore projects under development
g5-hub/
g5-configurator/
g5-client-app-creator/
g5-client-sibling-deployer/
g5-content-management-system/
g5-phone-number-service/
g5-pricing-and-availability-service/
