[submodule "g5stack"]
	path = g5stack
	url = git@github.com:G5/g5stack.git
[submodule "cookbooks/phantomjs"]
	path = cookbooks/phantomjs
	url = git@github.com:customink-webops/phantomjs.git
[submodule "cookbooks/magic_shell"]
	path = cookbooks/magic_shell
	url = git@github.com:customink-webops/magic_shell.git
